@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  background: linear-gradient(rgb(11, 0, 78), rgb(29, 21, 47), rgb(0, 40, 52)) no-repeat center;
  font-family: "Outfit";
}

h1{
  line-height: 80px !important;
}

.search-btn{
  background-color: #7927ff;
  border: 2px solid #7927ff;
}

.coins-table{
  background: linear-gradient(#5403ff26, #69029926);
}